{# templates/sortie/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Sorties{% endblock %}

{% block body %}
    <main>
        <section id="filters">
            <form action="{{ path('app_home') }}" method="GET">
                <label for="campus">Filtrer par campus :</label>
                <select name="campus" id="campus">
                    <option value="">Tous les campus</option>
                    {% for campus in campuses %}
                        <option value="{{ campus.nom }}" {% if selectedCampus and selectedCampus.nom == campus.nom %}selected{% endif %}>{{ campus.nom }}</option>
                    {% endfor %}
                </select>
                <input id="recherche" type="text" name="nom" placeholder="Nom de la sortie" value="{{ app.request.query.get('nom') }}">
                <input type="date" name="date1" placeholder="Date 1" value="{{ app.request.query.get('date1') }}">
                <input type="date" name="date2" placeholder="Date 2" value="{{ app.request.query.get('date2') }}">
                <label for="organisateur">Les sorties dont je suis l'organisateur</label>
                <input type="checkbox" name="organisateur" id="organisateur">

                <label for="inscrit">Auxquelles je suis inscrit</label>
                <input type="checkbox" name="inscrit" id="inscrit">

                <label for="non_inscrit">Auxquelles je ne suis pas inscrit</label>
                <input type="checkbox" name="non_inscrit" id="non_inscrit">

                <label for="terminees">Sorties terminées</label>
                <input type="checkbox" name="terminees" id="terminees">
                <button type="submit">Rechercher</button>
            </form>
        </section>

        <section id="sorties">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            <table>
                <tbody>
                {% include 'sortie/_sortiesTable.html.twig' with {'sorties': sorties} %}
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <a href="{{ path('app_sortie_create_new') }}" class="btn btn-primary">Créer une sortie</a>
    </footer>
{% endblock %}

