
{% block body %}
    <h1>Liste des sorties</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Durée en minutes</th>
            <th>Clôture</th>
            <th>Limite d'inscription</th>
            <th>État</th>
            <th>Campus</th>
            <th>Organisateur</th>
            <th>Inscrit</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>


        {% for sortie in sorties %}
            {% if selectedCampus is null or sortie.place.nom == selectedCampus.nom %}
                {% if (sortie.etat.libelle != 'En création' or sortie.user == app.user) and sortie.etat.libelle != 'Annulée' %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.duration }}</td>
                        <td>{{ sortie.dateLimite|date('d/m/Y') }}</td>
                        <td>{{ sortie.registerLimit }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ sortie.place.nom }}</td>
                        <td><a href="{{ path('app_user_profile', {'username': sortie.user.username}) }}">
                                {{ sortie.user.username }}
                            </a></td>
                        <td>
                            {% if sortie.users.contains(app.user) %}
                                <i class="fas fa-times"></i> <!-- Icône "X" si l'utilisateur est inscrit -->
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            {% if sortie.users.contains(app.user) and sortie.dateHeureDebut > date('now') and sortie.dateLimite >= date('now') %}
                                <a href="{{ path('app_sortie_desistement', {'id': sortie.id}) }}" class="btn btn-warning" onclick="return confirm('Êtes-vous sûr de vouloir vous désister de cette sortie ?');">Se désister</a>
                            {% endif %}
                            <a href="{{ path('app_sortie_create_show', {'id': sortie.id}) }}" class="btn btn-primary">Afficher</a>
                            {% if sortie.etat.libelle == 'En création' and sortie.user == app.user %}
                                <a href="{{ path('app_sortie_create_edit', {'id': sortie.id}) }}" class="btn btn-primary">Modifier</a>
                                <a href="#">publier</a>
                                <a href="#">supprimer</a>
                            {% elseif not sortie.users.contains(app.user) and sortie.etat.libelle == 'Ouverte' and sortie.dateLimite > date('now') %}
                                <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}" class="btn btn-primary" onclick="return confirm('Voulez-vous vous inscrire à cette sortie ?')">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}