{# templates/sortie/sortie.html.twig #}



{% block title %}Liste des sorties{% endblock %}
{% block body %}
    <h1>Liste des sorties</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Durée</th>
            <th>Clôture</th>
            <th>Limite d'inscription</th>
            <th>État</th>
            <th>Campus</th>
            <th>Organisateur</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% if selectedCampus is null or sortie.place.nom == selectedCampus.nom %}
                {% if sortie.etat.libelle != 'En création' or sortie.user == app.user %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.duration }} minutes</td>
                        <td>{{ sortie.dateLimite|date('d/m/Y') }}</td>
                        <td>{{ sortie.registerLimit }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ sortie.place.nom }}</td>
                        <td><a href="{{ path('app_user_profile', {'username': sortie.user.username}) }}">
                                {{ sortie.user.username }}
                            </a></td>
                        {% if sortie.etat.libelle == 'En cours' or sortie.etat.libelle == 'Clôturée' %}
                            <td>
                                <!-- Liens pour les sorties en cours ou clôturées -->
                            </td>
                        {% elseif sortie.etat.libelle == 'En création' and sortie.user == app.user %}
                            <td>
                                <a href="{{ path('app_sortie_create_show', {'id': sortie.id}) }}">show</a>
                                <a href="{{ path('app_sortie_create_edit', {'id': sortie.id}) }}">modifier</a>
                                <a href="#">publier</a>
                                <a href="#">supprimer</a>
                            </td>
                        {% elseif sortie.etat.libelle == 'Ouverte' and sortie.dateLimite > date('now') and not sortie.users.contains(app.user) %}
                            <td>
                                <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir vous inscrire à cette sortie ?');">S'inscrire</a>
                            </td>
                        {% elseif sortie.users.contains(app.user) and sortie.dateHeureDebut > date('now') %}
                            <td>
                                <a href="{{ path('app_sortie_desistement', {'id': sortie.id}) }}" class="btn btn-warning" onclick="return confirm('Êtes-vous sûr de vouloir vous désister de cette sortie ?');">Se désister</a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}